* {
    box-sizing: border-box;
}

h1 {
    float: left;
    padding-left: 20px;
}

.container {
    width: 40px;
    color: black;
    font-size: 24px;
    text-align: justify;
}

p {
    padding-right: 20px;
}

#bio-image {
    float: left;
    padding-top: 15px;
    padding-right: 50px;
}


}
@media screen and (max-width:800px) {
    .left,
    .main,
    .right {
        width: 100%;
    }
}