* {
    box-sizing: border-box;
    background-color: cadetblue;
}

.left {
    background-color: rgb(117, 199, 227);
    padding: 20px;
    float: left;
    width: 33.3%;
    text-align: center;
    color: black;
    font-size: 24px;
}

.center {
    background-color: darkgray;
    padding: 20px;
    float: left;
    width: 33.3%;
    text-align: center;
    color: yellow;
    font-size: 24px;
}

.right {
    background-color: lightgreen;
    padding: 20px;
    float: left;
    width: 33.3%;
    text-align: center;
    color: brown;
    font-size: 24px;
}

@media screen and (max-width:800px) {
    .left,
    .main,
    .right {
        width: 100%;
    }
}